.header {
    margin-top: 30px;
    margin-bottom: 70px;
}

.phone  {
    display: block;
    background-color: #d1c4e9;
    width: auto;
    border-color: 5px solid red;
}

.rew    {
    background-color: blue;
}

.custom-select    {
    padding: 5px;
    display: block;
    border-color: 5px solid red;
}
