<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->

    <script
              src="https://code.jquery.com/jquery-2.2.4.js"
              integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
              crossorigin="anonymous"></script>
    <link type="text/javascript" src="{% static "js/bootstrap.js" %}">
    <link type="text/javascript" src="{% static "js/base.js" %}">
  </head>

  <body>
    {% block content %}{% endblock %}


    <script type="text/javascript">
        // var data;
        // $('.form_phone1').on('change', function() {
        //       data = {
        //           'number_phone' : this.value
        //       }
        //       return $.ajax({
        //           url: '/compression_phones/',
        //           type: 'get',
        //           data: data,
        //           success: function() {
        //               console.log('успех');
        //
        //         }
        //
        //       })
        // });

// another way
    $('a#compression').on('click', function() {
        console.log($('select.form_phone1').val());
        console.log($('select.form_phone2').val());
        $('a#compression').attr('href', `?phone1=${$('select.form_phone1').val()}&phone2=${$('select.form_phone2').val()}`);
        data = {
            'phone_1' : $('select.form_phone1').val(),
            'phone_2' : $('select.form_phone2').val()
        }
        return $.ajax({
            url: '/compression_phones/',
            type: 'get',
            data: data,
            success: function() {
                console.log('успех');
          }
       })
    })
    </script>
    <!--JavaScript at end of body for optimized loading-->


  </body>
</html>
