{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <select class="custom-select custom-select-lg col-sm">
                <option selected>Open this select menu</option>
                {% for phone in phones %}
                <option value="{{ phone.id }}">{{ phone.brand }} {{ phone.model_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm">
            <select class="custom-select custom-select-lg col-sm">
                <option selected>Open this select menu</option>
                {% for phone in phones %}
                <option value="{{ phone.id }}">{{ phone.brand }} {{ phone.model_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

{% endblock %}
