{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <select class="custom-select custom-select-lg col-sm form_phone1" href="#?phone={{phone.id}}">
                {% for phone in phones %}
                <option value="{{ phone.id }}">{{ phone.brand }} {{ phone.model_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm">
            <select class="custom-select custom-select-lg col-sm form_phone2">
                {% for phone in phones %}
                <option value="{{ phone.id }}">{{ phone.brand }} {{ phone.model_name }}</option>
                {% endfor %}

            </select>
        </div>
        <a id="compression" type="button" href="{% url "compression_phones" %} ">Сравнить</a>

    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                {{info_phone1}}
                <p class="model1">{{info_phone1.model_name}}</p>
                <p class="brand1">{{info_phone1.brand}}</p>
                <p class="processor1">{{info_phone1.processor}}</p>
            </div>
            <div class="col-sm">
                {{info_phone2}}
                <p class="model2">{{info_phone2.model_name}}</p>
                <p class="brand2">{{info_phone2.brand}}</p>
                <p class="processor2">{{info_phone2.processor}}</p>
            </div>
        </div>
    </div>

{% endblock %}
