{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        {% for object in object_list %}
            <div class="row">
                <div class="book col-md-4">
                    <h2><a href="{{object.get_abdolute_url}}">{{ object.name }}</a></h2>
                    <p>{{ object.author }}</p>
                    <p>{{ object.pub_date }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
{% if is_paginated %}
<a href="#">1111111111111</a>
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/cars?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/books?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% else %}
    <p>No books found!!! :(</p>
{% endif %}
