{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <a type="button" href="{% url 'catalog' %}?sort=max_price" class="btn btn-danger" style="margin:10px;">Отсортировать по возрастанию цены</a>
            <a type="button" href="{% url 'catalog' %}?sort=min_price" class="btn btn-danger" style="margin:10px;">Отсортировать по убыванию цены</a>

            <a type="button" href="{% url 'catalog' %}?sort=name" class="btn btn-warning" style="margin:10px;">Отсортировать по алфавиту</a>
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    {% for phone in phones %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ phone.price }}</li>
                                <li class="list-group-item"><h2>{{ phone.name }}</h2></li>
                            </ul>
                            <img src="{{ phone.image }}" alt="{{ phone.name }}" style="height: 540px;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
