<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12 ">Инфляция в России</h1>
        <ul class="col s12 m8">
            <table class="bordered">
                <thead>
                    {% for column in columns %}
                        {% if column == 'Суммарная'%}
                            <th class="grey darken-1">{{ column }}</th>
                        {% else %}
                            <th class="">{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in inflation %}
                        <tr>
                            {% for key, value in row.items %}
                                {% if key == 'Суммарная' %}
                                    <td class="grey darken-1">{{ value }}</td>
                                {% elif value < 0 %}
                                    <td class="green darken-2">{{ value }}</td>
                                {% elif value < 1 %}
                                    <td class="">{{ value }}</td>
                                {% elif value < 2 %}
                                    <td class="red lighten-4">{{ value }}</td>
                                {% elif  value <= 5 %}
                                    <td class="red lighten-1">{{ value }}</td>
                                {% elif value > 5 %}
                                    <td class="red darken-4">{{ value }}</td>
                                {% else %}
                                    <td class="">{{ value }}</td>
                                {% endif %}

                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
       <!-- Ваша логика -->

        </ul>
      </div>
    {% endblock %}

  </body>
</html>
