<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12 ">Инфляция в России</h1>
        <ul class="col s12 m8">
            <table class="bordered">
                <thead>
                    {% for fieldname in reader.fieldnames %}
                        {% if fieldname == "Суммарная" %}
                            <th class="">Всего</th>
                        {% else %}
                            <th class=""> {{ fieldname }} </th>
                        {% endif %}
                    {% endfor %}
                </thead>
                <tbody>
                    <tr>
                        {% for r in reader %}
                            <td>111 {{ r.Год }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
       <!-- Ваша логика -->

        </ul>
      </div>
    {% endblock %}

  </body>
</html>
